<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span style="color: Red; font-size: 2em;"><b>{{ commodity.name }}</b></span><small>{{ commodity.symbol }}</small><br>
        PRICE: {{ commodity.price }}<br>
        Change: {{ commodity.change }} = {{ commodity.change_perc }} %<br>
        HIGH: {{ commoditty.high }}<br>
        LOW: {{ commodity.low }}<br>
        LATEST VOLUME : {{ commodity.latestVolume }}<br>
        EXCHANGE : {{ commodity.exchange }}<br>
</body>
</html>